/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(2, 2, 20);
}

p {
    font-size: 14.5px;
}

.mt-xs {
    margin-top: 5px;
}

.mt {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 15px;
}

.mt-3 {
    margin-top: 20px;
}

.mt-4 {
    margin-top: 30px;
}

.mr-3 {
    margin-right: 40px;
}

p {
    font-size: 15px;
}

.font-s {
    font-size: 13px;
    font-style: italic;
}

.font-w {
    font-weight: bold;
}

.fullPage {
    height: calc(100vh - 50px);
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    gap: 20px;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bg-bloc-color {
    background-color: rgb(55, 55, 70);
    padding: 30px;
    border-radius: 8px;
}

/* Nav */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(43, 43, 58);
}

.top-bar p {
    margin: 0;
}

.bg-bloc-img {
    background-image: url('images/champignon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/* Social Icons */
.social-icon {
    font-size: 30px;
    color: white;
    margin-right: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Profil */
.flex {
    display: flex;
    gap: 20px;
}

.bloc1 {
    flex: 2;
}

.bloc2 {
    flex: 3;
}

.container-contact {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
}

.contact-details i {
    margin-right: 10px;
}

.txt-right {
    text-align: right;
}

.txt-right h1, .custom-txt {
    font-size: 45px;
}

/* Accordions xp pro */
.accordion-header-exp {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.accordion-header-exp .arrow {
    transition: transform 0.3s ease;
}

.accordion-content-exp {
    display: none;
    margin: 15px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content-exp.open {
    display: block;
}

/* accordion formation */
.accordion-header-form {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.accordion-header-form .arrow {
    transition: transform 0.3s ease;
}

.accordion-content-form {
    display: none;
    margin: 30px 15px 0 15px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content-form.open {
    display: block;
}

.content-formation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.dateBg1 {
    background-color: rgb(2, 2, 20);
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}

.dateBg1 p {
    font-weight: bold;
    font-size: 18px;
}

.formation-details {
    width: 100%;
}

.formation-content {
    margin: 10px 0;
}

.opacity {
    opacity: 78%;
}

/* Compétences */
.icon-lang-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 13px;
}

.img_icons {
    height: auto;
    width: 58px;
    transition: all 0.2s ease-in-out;
}

.img_icons:hover {
    transform: translateY(-0.25rem);
    filter: drop-shadow(8px 8px 15px rgb(127, 250, 79)) invert(80%);
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .fullPage {
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .flex {
        flex-direction: column;
    }

    .container-contact {
        flex-direction: column;
        gap: 10px;
    }

    .icon-lang-container {
        flex-direction: column;
    }

    .txt-right h1, .custom-txt {
        font-size: 30px;
    }

    .social-icon {
        font-size: 30px;
    }

    .mode-switch {
        padding: 5px 8px;
    }
}

@media (max-width: 480px) {
    .fullPage {
        padding: 1rem;
    }

    .top-bar {
        flex-direction: column;
        gap: 10px;
    }

    .txt-right h1, .custom-txt {
        font-size: 25px;
    }

    .social-icon {
        font-size: 25px;
    }

    .mode-switch {
        padding: 5px 8px;
        width: 100%;
    }

    .contact-details p {
        font-size: 12px;
    }

    .bg-bloc-color {
        padding: 20px;
    }
}