/* Global */

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(2, 2, 20);
    margin: 0;
}

.mt-xs { margin-top: 5px; }
.mt { margin-top: 10px; }
.mt-2 { margin-top: 15px; }
.mt-3 { margin-top: 20px; }
.mt-4 { margin-top: 30px; }
.mr-3 { margin-right: 40px; }
.mb-2 { margin-bottom: 15px; }
p { font-size: 15px; margin: 0;}
.font-s { font-size: 13px; font-style: italic; }
.font-w { font-weight: bold; margin-top: 0; margin-bottom: 2px; }

.fullPage {
    padding: 2rem 5rem;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bg-bloc-color {
    background-color: rgb(55, 55, 70);
    padding: 20px 40px;
    border-radius: 8px;
}

/* Nav */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 25px;
    background-color: rgb(43, 43, 58);
}

.top-bar p {
    margin: 0;
}

.bg-bloc-img {
    background-image: url('images/champignon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/* Social Icons */
.social-icon {
    font-size: 35px;
    color: white;
    margin-right: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.search-alternance-small {
    display: none;
}

/* Profil */
.flex {
    display: flex;
    gap: 20px;
}

.bloc1 {
    flex: 3;
}

.bloc2 {
    flex: 4;
}

.container-contact {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 20px;
}

.contact-details i {
    margin-right: 10px;
}

.txt-right {
    text-align: right;
}

.txt-right h1, .custom-txt {
    font-size: 45px;
}

.custom-txt {
    margin-top: 25px;
    margin-bottom: 30px;
}

/* Titre recherche Alt */
#typewriter {
    overflow: hidden;
    border-right: .15em solid rgb(111, 132, 216);
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

#typewriterMobile {
    overflow: hidden;
    border-right: .15em solid rgb(111, 132, 216);
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

    /* Animation de dactylographie */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

    /* Animation du curseur clignotant */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(111, 132, 216) }
}

.mb-custom {
    margin-bottom: 15px;
}

/* Accordions xp pro */
.accordion-header-exp {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.accordion-header-exp .arrow {
    transition: transform 0.3s ease;
}

.accordion-content-exp {
    display: none;
    margin: 15px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content-exp.open {
    display: block;
}

/* Contenu accordéons xp pro */
.timeline {
    display: flex;
    margin-top: 20px;
}

.dates {
    border-right: 2px solid #cccccc6f;
    padding-right: 40px;
    width: calc(100% - 380px);
}

.content {
    display: none;
    width: 380px;
    padding-top: 0px;
}

.contents {
    margin-left: 30px;
}

.content.active {
    display: block;
}
.date-item {
    background-color: rgb(2, 2, 20);
    padding: 10px ;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    cursor: pointer;
}
.date-item:hover {
    text-decoration: none;
}

.date-item.active-date {
    background-color: rgb(111, 132, 216);
    color: white;
}

.customTitleXp {
    font-size: 19px;
    margin-bottom: 5px;
}

.customContentXp {
    margin-top: 15px;
    margin-left: 35px;
}

.customContentXp p {
    font-size: 13px;
}

/* accordion formation */
.accordion-header-form {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.accordion-header-form .arrow {
    transition: transform 0.3s ease;
}

.accordion-content-form {
    display: none;
    margin: 30px 15px 0 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content-form.open {
    display: block;
}

.content-formation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.dateBg1 {
    background-color: rgb(2, 2, 20);
    padding: 5px 10px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}

.dateBg1 p {
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
}

.formation-details {
    width: 100%;
}

.formation-content {
    margin: 10px 0;
}

.opacity {
    opacity: 78%;
}

/* Compétences */
.icon-lang-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img_icons {
    height: auto;
    width: 60px;
    transition: all 0.2s ease-in-out;
}

.img_icons:hover {
    transform: translateY(-0.25rem);
    filter: drop-shadow(8px 8px 15px rgb(222, 212, 14)) invert(80%);
}

/* Responsive Media Queries */
@media (max-width: 400px) {
    /* .customContentXp {
        margin-left: 20px;
    } */
}

@media (max-width: 480px) {
    .fullPage {
        padding: 20px;
    }

    .social-icon {
        font-size: 25px;
    }

    .bg-bloc-color {
        padding: 20px;
    }

    .bg-bloc-color.bloc2.custom-txt {
        margin-top: 0;
    }

    .mr-3.marginCustomMob {
        margin-right: 0px;
    }

    .bg-bloc-color.customMobXp, .bg-bloc-color.customFormMob {
        padding: 30px 35px 20px 35px;
    }

    .accordion-header-exp, .accordion-header-form {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .content-formation {
        flex-direction: column;
        gap: 10px;
    }

    .formation-details {
        padding-top: 0px;
        margin-bottom: 15px;
    }

    .icon-lang-container {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .timeline {
        display: flex; 
        flex-direction: column;
        margin-bottom: 20px;
    }

    .dates {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 10px;
        padding-right: 0px;
        border-bottom: 2px solid #cccccc6f;
    }

    .accordion-content-exp {
        margin: 0px;
    }

    .contents {
        margin-left: 0px;
        margin-top: 20px;
    }

    .content {
        width: 100%;
    }
}

@media (max-width: 880px) {
    .fullPage {
        flex-direction: column;
        padding: 1rem;
    }

    .flex {
        flex-direction: column;
    }

    .container-contact {
        flex-direction: column;
        gap: 10px;
    }

    .txt-right h1, .custom-txt {
        font-size: 30px;
    }

    .custom-txt {
        font-size: 35px;
        margin: 0px;
        margin-bottom: 30px;
    }

    .social-icon {
        font-size: 30px;
    }

    .mode-switch {
        padding: 5px 8px;
    }

    .search-alternance-large {
        display: none;
    }

    .search-alternance-small {
        display: block;
        margin-bottom:0;
    }

    .bloc1 {
        display:none;
    }

    .bg-bloc-color.bloc2, .bg-bloc-color.customMobile {
        padding: 30px 35px 20px 35px;
    }

    .custom-txt-mob {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 0px;    
    }

    .iconCustMob {
        margin-top: 10px;
    }

    .customContentXp {
        margin-left: 20px;
    }
}


