/* Global */
html body {
    color: white;
    background-color: rgb(2, 2, 20);
}

.contentFullPage {
    padding: 50px;
}



/* body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: rgb(2, 2, 20);
    color: white;
  }
  
  .navbar-light.bg-light {
    background-color: #f8f9fa !important;
  }
  
  .navbar-dark.bg-dark {
    background-color: #343a40 !important;
  } */
  